target/
.idea/
.settings/
*.iml
.flattened-pom.xml
.project
.classpath
.springBeans
.sonar4clipse
*.sonar4clipseExternals
*.graphml
package-lock.json
.mvn/.develocity

build/
node_modules
node

#prevent license accepting file to get accidentially commited to git
container-license-acceptance.txt
spring-data-jdbc/src/test/java/org/springframework/data/ProxyImageNameSubstitutor.java
spring-data-r2dbc/src/test/java/org/springframework/data/ProxyImageNameSubstitutor.java
