target/
.idea/
.settings/
*.iml
.project
.classpath
.springBeans
.sonar4clipse
*.sonar4clipseExternals
*.graphml

#prevent license accapting file to get accidentially commited to git
container-license-acceptance.txt